/* universal foramtting */
* {
  margin: 0;
  padding: 0;
}
/* universal formatting ends */

/* General nav styling for all pages */

body {
  /* background: linear-gradient(to right, rgb(139, 158, 187), rgb(189, 168, 194)); */
  background:linear-gradient(to right, rgb(255, 255, 255), rgb(212, 237, 237));
}
nav {
  background-color: black;
  margin: 0px;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 1em;
  margin: 0 10px;
  font-family: fantasy cursive;
}

li {
  padding: 15px;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

.push {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 1.2em;
    padding: 0;
  }
}

/* General styling ends */

/* home page styling */
.bg1 {
  background: url(./imgs/bg1.jpeg) top left/cover no-repeat;
  background-size: 100% 100%;
  background-blend-mode: lighten;
  color: white;
  text-align: center;
  line-height: 400px;
  font-size: 2em;
  margin: 0px;
}

.p1,
.login {
  color: blue;
  text-decoration: underline;
}

.p2,
.p3,
.p4 {
  text-align: center;
  margin: 10px 0;
  padding: 5px;
}

h5 {
  text-align: center;
  background-color: rgb(167, 239, 241);
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

#our-team {
  background: url(./imgs/bg2.jpeg) top left/cover no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.team{
  column-count: 3;
  column-gap: 1px;
  /* line-height: 20px; */
  text-align: center;
  padding: 50px 0;
  
}
/* home page ends */

/* Profile syling */
#profile {
  box-sizing: border-box;
  /* border: solid 2px black; */
  border: dashed 4px black;
  width: 650px;
  height: 450px;
  margin: 30px 10px;
  padding: 10px;
  font-size: 1em;
}

input[type="address"] {
  width: 450px;
  margin: 10px 0 15px;
  padding: 7px;
}

input[type="c.text"] {
  width: 100px;
  padding: 7px;
  margin: 10px 0;
}

.states {
  margin: 10px 0;
}

input[type="numbers"] {
  width: 75px;
  padding: 7px;
}

.button1 {
  margin: 50px 0;
}
/* Profile styling ends */

/* Fuel Quote Form  Styling*/
#quote {
  box-sizing: border-box;
  /* border: solid 2px black; */
  border: double 6px black;
  width: 650px;
  height: 400px;
  margin: 30px 10px;
  padding: 10px;
  font-size: 1em;
}

input[type="number"] {
  margin: 10px 0;
  padding: 7px;
}

/* Fuel Quote form ends */

/* Log in  */

#container {
  box-sizing: border-box;
  border: solid 4px black;
  width: 450px;
  text-align: center;
  margin: 50px auto 0;
  padding: 10px;
  font-size: 1.3em;
}

h2,h3,h1,h4 {
  font-size: 2em;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  padding: 7px;
  margin: 10px 0 15px;
  border: solid 1px #ccc;

}

.button,
.button1 {
  background-color: #fc3;
  background: linear-gradient(#fc3, #f91);
  color: #fff;
  text-decoration: none ;
  padding: 10px 20px;
  border:solid 1px #f999;
  text-shadow: 0 2px 4px #ddd;
  position: relative;
}

.button:hover,
.button1:hover {
  background: linear-gradient(#f91, #fc3);
  border-color: black ;
  top: 2px;
}

.button:active,
.button1:active {
  top: 2px;
  color: #ddd;
}

.newm {
  font-size: 15px;
}

.newr {
  color: blue;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
  
} 

 .newr:hover {
  bottom: 2px;
}
/* Log in page ends */

/* Regitration page styling */

#box {
  box-sizing: border-box;
  /* border: solid 2px black; */
  border: dotted 4px black;
  width: 550px;
  height: 350px;
  /* text-align: center; */
  margin: 30px 10px;
  padding: 7px;
  font-size: 1em;
}

.redirect {
  margin: 12px 0;
  font-size: 0.8em;
}
/* registration ends */